/* Fonte: Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variaveis */
:root{
    --color-primary: #6c63ff;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg3: #414890;
    --color-success: #00bf8e;
    --color-danger: #f75842;
    --color-warning: #f7c94b;
    --color-danger-variant: rgba(247, 88, 66, 0.4);

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
}

body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--color-white);
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);
}

/*  HEADER  */
header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header_left p{
    margin: 1rem 0 2.4rem;
}

/*  INICIO Tipo Lixo  */
.lixos{
    background: var(--color-bg1);
    height: 29rem;
}
.lixos h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.lixos_container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.lixos_left{
    margin-right: 4rem;
}

.lixos_left p {
    margin: 1rem 0 3rem;
}

.lixos_right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

.lixos_tipo{
    background: var(--color-bg3);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.lixos_tipo:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.lixos_tipo:nth-child(2) .lixos_categ_icon{
    background: var(--color-danger);
}

.lixos_tipo:nth-child(3) .lixos_categ_icon{
    background: var(--color-success);
}

.lixos_tipo:nth-child(4) .lixos_categ_icon{
    background: var(--color-warning);
}

.lixos_tipo:nth-child(5) .lixos_categ_icon{
    background: var(--color-success);
}

.lixos_categ_icon{
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.lixos_tipo h5{
    margin: 2rem 0 1rem;
}

.lixos_tipo p{
    font-size: 0.85rem;
}

/*   MAIORES PRODUTORES   */
.produt_lixo{
    margin-top: 10rem;
}
.produt_lixo_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.produtores{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.produtores:hover{
    background: transparent;
    border-color: var(--color-primary);
}

.produtores_brasil{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    margin: 1.2rem 9rem;
}

.produtores_brasil:hover{
    background: transparent;
    border-color: var(--color-primary);
}


.produtores_info {
    margin: 20px;
}

.produtores_info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

.produtores_image_percent {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    margin-left: -0.8vw; /* Ajuste se necessário */
}

.produtores_image_percent img {
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    width: 50px; /* Ajuste a largura conforme necessário */
    height: 50px; /* Ajuste a altura conforme necessário */
    object-fit: contain; /* Garante que a imagem mantenha a proporção */
}

#descarte{
    color: red;
    font-size: 0.9rem;
}

.descarte_correto{
    margin: 5px;
}

/*   RESUMO ESG E PROJETO   */

.post-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--color-bg1);
}

.resumo {
    max-width: 800px; /* Você pode ajustar esse valor conforme necessário */
    margin: 0 auto;
}

.post-text, .sub-heading {
    text-align: center;
}

.sub-heading{
    margin-bottom: 0px;
}

/*  FAQ  */

.faq-section {
    width: 90%;
    max-width: 900px;
    margin: 50px auto;
    background: var(--color-bg3);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-section h1 {
    text-align: center;
    margin-bottom: 30px;
}

.faq-container {
    border-top: 1px solid var(--color-light);
}

.faq-item {
    border-bottom: 1px solid var(--color-light);
}

.faq-question {
    width: 100%;
    padding: 15px;
    background: var(--color-primary);
    border: none;
    text-align: left;
    font-size: 18px;
    color: var(--color-white);
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question:hover {
    background: var(--color-bg1);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faq-answer p {
    padding: 15px;
    margin: 0;
}

.faq-question i {
    transition: transform 0.2s ease-out;
}

.faq-question.active i {
    transform: rotate(180deg);
}

@media (max-width: 600px) {
    .faq-question {
        font-size: 16px;
        padding: 10px;
    }

    .faq-answer p {
        padding: 10px;
    }
}

/*  FOOTER  */ 
.footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 0px 0 0px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 300px;
    margin: 10px;
}

.about {
    text-align: center;
}

.quick-links {
    text-align: center;
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.footer-section p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center; /* Ensure the paragraph text is aligned left */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: #ddd;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        margin: 20px 0;
    }

    .about, .quick-links {
        text-align: center;
    }
}